# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/

core.Microsoft*
core.mongo*
core.python*
env.py
__psycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt 